.qheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: white;
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}
.qheader_logo > img {
  height: 30px;
  margin-right: 20px;
}
.qheader_icons {
  display: flex;
  margin-right: 20px;
}
.qheader_icon > .MuiSvgIcon-root {
  color: gray;
  cursor: pointer;
  font-size: xx-large;
  padding: 18px 20px;
}
.qheader_icon > .MuiSvgIcon-root:hover {
  color: #8f1f1b;
  border-radius: 10px;
  background-color: #f7f7f8;
}
.qheader_input {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding-top: 5px;
  height: 25px;
  margin-top: 18px;
  border-radius:5px;
}

.qheader_input > input{
    background-color: transparent;
    outline:none;
    border:none;
    color:rgb(49,49,49);
}
.qheader_input > .MuiSvgIcon-root{
    color:gray;
}
.qheader_rem{
    display:flex;
    align-items:center;
    margin-left:20px;
}
.qheader_rem > .qheader_avatar{
    cursor:pointer;
}
.qheader_rem > .MuiSvgIcon-root{
    font:xx-large;
    color:gray;
    margin-left:20px;
    cursor:pointer;
}

.qheader_rem > .MuiSvgIcon-root:hover{
    color:#8f1f1b;
}
.qheader_rem > .MuiButton-root{
    background-color: #8f1f1b;
    color:white;
    border-radius: 20px;
}
.qheader_rem > .MuiButton-root:hover{
    background-color: #b92b27;
    color:white;
}

